* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    position: fixed;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.logo {
    width: 40%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 10rem;
    height: auto;
    padding: 0.5rem;
}

.logo p {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}


.nav-header ul {
    display: flex;
    justify-content: end;
}

.nav-header ul li {
    list-style: none;
    margin: 2rem;
    background-color: #8ecfe1;
    padding: 1rem 2rem;
    border-radius: 30px;
}

.nav-header ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;
}

.nav-header ul li:hover {
    background-color: #8ecfe1a4;
    transition: 0.1s;
}